# Исполняемые файлы (результаты компиляции)
*.exe
*.out
*.app

# Объектные файлы (результат компиляции исходников)
*.o
*.obj

# Файлы отладки и дампы
*.dSYM
*.log
*.dump

# Временные файлы редакторов и IDE
.vscode/
.idea/
*.swp
*~

# Файлы данных (если вы не хотите хранить результаты анализа в репозитории)
results.csv

# Системные файлы (особенно если вы работаете на macOS)
.DS_Store